# -------------------------

# Python

# -------------------------

**pycache**/
*.py[cod]
*$py.class

# Virtual Environment

venv/
.venv/
env/
ENV/

# -------------------------

# Environment Variables

# -------------------------

.env
.env.*

# -------------------------

# Logs

# -------------------------

*.log

# -------------------------

# Database

# -------------------------

*.db
*.sqlite3

# -------------------------

# Uploaded Files

# -------------------------

uploads/
media/
static/

# -------------------------

# Build / Distribution

# -------------------------

build/
dist/
*.egg-info/
.eggs/

# -------------------------

# Cache

# -------------------------

.cache/
.pytest_cache/

# -------------------------

# Jupyter Notebook

# -------------------------

.ipynb_checkpoints/

# -------------------------

# IDE / Editor

# -------------------------

.vscode/
.idea/
*.swp
*.swo

# -------------------------

# OS Files

# -------------------------

.DS_Store
Thumbs.db

# -------------------------

# Docker

# -------------------------

*.pid
*.seed

# -------------------------

# Coverage

# -------------------------

.coverage
htmlcov/

# -------------------------

# Temporary Files

# -------------------------

*.tmp
*.temp
